extends layout

block content
  .wrapper
    header
      h1 Welcome to Dollop Scollop
      p Play nice with others
    main
      .c-dollopScollp.c-dollopScollop__container
        //- canvas#c-dollopScollop__canvas(width='500px', height='500px')
    footer
      .c-dollopScollop.c-dollopScollop__conectedUsers

